admin_olimpia/Connected Services/backbone_wcf/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57960/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57960/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57960/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/backbone_wcf_client" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_Clients_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Clients" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_Clients_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_ClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Delete_Client_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_Client" />
  </wsdl:message>
  <wsdl:message name="IService1_Delete_Client_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_ClientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_Client_Id_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Client_Id" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_Client_Id_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_Client_IdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Update_Client_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_Client" />
  </wsdl:message>
  <wsdl:message name="IService1_Update_Client_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_ClientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Create_Transaction_InputMessage">
    <wsdl:part name="parameters" element="tns:Create_Transaction" />
  </wsdl:message>
  <wsdl:message name="IService1_Create_Transaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:Create_TransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_Transactions_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Transactions" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_Transactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_TransactionsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Clients">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_Clients" message="tns:IService1_Get_Clients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_ClientsResponse" message="tns:IService1_Get_Clients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_Client">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Delete_Client" message="tns:IService1_Delete_Client_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Delete_ClientResponse" message="tns:IService1_Delete_Client_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Client_Id">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_Client_Id" message="tns:IService1_Get_Client_Id_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_Client_IdResponse" message="tns:IService1_Get_Client_Id_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_Client">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Update_Client" message="tns:IService1_Update_Client_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Update_ClientResponse" message="tns:IService1_Update_Client_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create_Transaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Create_Transaction" message="tns:IService1_Create_Transaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Create_TransactionResponse" message="tns:IService1_Create_Transaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Transactions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_Transactions" message="tns:IService1_Get_Transactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_TransactionsResponse" message="tns:IService1_Get_Transactions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Clients">
      <soap:operation soapAction="http://tempuri.org/IService1/Get_Clients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Client">
      <soap:operation soapAction="http://tempuri.org/IService1/Delete_Client" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Client_Id">
      <soap:operation soapAction="http://tempuri.org/IService1/Get_Client_Id" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Client">
      <soap:operation soapAction="http://tempuri.org/IService1/Update_Client" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create_Transaction">
      <soap:operation soapAction="http://tempuri.org/IService1/Create_Transaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Transactions">
      <soap:operation soapAction="http://tempuri.org/IService1/Get_Transactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:57960/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>